.BoardMain {
    min-height: 40px; /* Set a minimum height */
    width: 70%; /* Ensure it fills the grid column width */
    box-sizing: border-box; /* Includes padding and border in width calculations */
    text-align: center;
    background-color: #f9f9f9; /* Optional background color for visibility */
    border-radius: 10px;
    box-shadow: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding-bottom: 10px;
}

.Items{
    padding: 0px 10px;
    gap: 10px;
}

