.ItemText {
    display: flex;
    flex-direction: column;
    align-items: baseline; /* Aligns all children to the left */
    text-align: left; /* Ensures text is aligned left */
    gap: 0.5rem; /* Adds spacing between the lines */
}

.ItemText p {
    font-size: 18px; /* Slightly larger font for the title */
    font-weight: normal; /* Keep the title in normal weight */
    color: #333; /* Darker text color */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove additional padding */
    text-align: left; /* Ensures text itself aligns left */
    border-bottom: 2px solid #c7c7c1;
    width: 100%; /* Make the border span the full width of the container */
    box-sizing: border-box; /* Ensure padding and borders are included in width */
}
